*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    background-color: rgba(119, 119, 119, 0.3);
}

.collapse{
    background-color: #333;
}

.nav-link{
    background-color: #333;
    color: white;
}

.nav-link:hover{
    background-color: rgb(255, 73, 88);
    transition: 0.3s all ease-out;
}

.carousel-caption{
    bottom:150px !important;
    left:20%;
    right:20%;
}

.c-btn{
    background-color: transparent;
    border: 2px solid rgb(255, 73, 88);
}

.c-btn:hover{
    color: white !important;
}

.fas{
    font-size: 40px;
}

.cards{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.info{
    max-height: 400px;
    min-width: 250px;
}

.cards::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width:991px) {
    .title_main{
        flex-direction: column;
    }
}

@media screen and (max-width:531px) {
    .title_welcome{
        text-align:start;
    }
}