.bg-color{
    background-color: #444141 !important;
}
.bg-color1{
    background-color: #ebebeb !important;
}
.mt-req{
    margin-top: 14rem;
}
.grad {
    background-image: linear-gradient(to right, purple , red);
}
.card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
